#horned {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    align-content: space-between;
    align-items: baseline;
}


div>img{
    width: 250px;
    height: 250px;
}


